http:
  routers:
    # Bootstrap certificate for home.mstorm.net and *.home.mstorm.net
    tls-bootstrap:
      rule: Host(`tls-bootstrap.${DNS_NAME:-home.internal}`)
      entryPoints: [websecure]
      service: noop
      tls:
        certResolver: le-dns
        domains:
          - main: "${DNS_NAME:-home.internal}"
            sans:
              - "*.${DNS_NAME:-home.internal}"

  services:
    noop:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1"
