http:
  routers:
    tls-bootstrap:
      rule: Host(`tls-bootstrap.${DNS_NAME:-home.internal}`)
      entryPoints: [websecure]
      service: noop
      tls:
        certResolver: le-dns
        domains:
          - main: "${DNS_NAME:-home.internal}"
            sans:
              - "*.${DNS_NAME:-home.internal}"
              - "*.${PARENT_DNS_NAME:-internal}"

  services:
    noop:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1"
