services:
  zitadel:
    restart: unless-stopped
    image: ghcr.io/zitadel/zitadel:latest
    container_name: zitadel
    command: start --masterkey "${ZITADEL_MASTERKEY}"
    env_file:
      - ${OPS_ROOT:-../../../}/etc/global.env
      - ${OPS_ROOT:-../../../}/etc/srv/foundation.zitadel.env
    healthcheck:
      test:
        - CMD
        - /app/zitadel
        - ready
      interval: 10s
      timeout: 60s
      retries: 5
      start_period: 10s
    user: "0"
    volumes:
      - ${OPS_ROOT:-../../../}/lib/zitadel:/zitadel
    networks:
      - net_internal
    labels:
      - traefik.enable=true
      - traefik.http.routers.zitadel.rule=Host(`${ZITADEL_HOST}`)
      - traefik.http.routers.zitadel.entrypoints=websecure
      - traefik.http.routers.zitadel.tls=true
      - traefik.http.services.zitadel.loadbalancer.server.port=${ZITADEL_INTERNAL_PORT}

  login:
    restart: unless-stopped
    image: ghcr.io/zitadel/zitadel-login:latest
    container_name: zitadel-login
    environment:
      - ZITADEL_API_URL=http://zitadel:8080
      - NEXT_PUBLIC_BASE_PATH=/ui/v2/login
      - ZITADEL_SERVICE_USER_TOKEN_FILE=/zitadel/login-client.pat
    network_mode: service:zitadel
    user: "0"
    volumes:
      - ${OPS_ROOT:-../../../}/lib/zitadel:/zitadel:ro
    depends_on:
      zitadel:
        condition: service_healthy
        restart: false

networks:
  net_internal:
    external: true
    name: net_internal
