api:
  dashboard: true
  insecure: true
  disableDashboardAd: true

providers:
  docker:
    exposedByDefault: false
    endpoint: unix:///var/run/docker.sock
    watch: true
    network: net_internal
    tls:
      insecureSkipVerify: true
  file:
    directory: /config
    watch: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
