services:
  lego:
    image: goacme/lego:v4.14.2
    container_name: lego
    restart: "no"
    env_file:
      - ${OPS_ROOT:-../../../}/etc/global.env
    command:
      - --dns
      - cloudflare
      - --dns.resolvers=1.1.1.1:53,8.8.8.8:53
      - --email
      - ${LE_EMAIL}
      - --accept-tos
      - --path=/data
      - --domains=mstorm.net
      - --domains=*.mstorm.net
      - --domains=*.home.mstorm.net
      - --run-hook=/hooks/reload-traefik.sh
      - run
    volumes:
      - ${OPS_ROOT:-../../../}/lib/certs:/data
      - ${OPS_ROOT:-../../../}/srv/edge/lego/reload-traefik.sh:/hooks/reload-traefik.sh:ro
      - ${OPS_ROOT:-../../../}/srv/edge/traefik/config:/config:rw
    networks:
      - net_internal

networks:
  net_internal:
    external: true
    name: net_internal
