services:
  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped
    volumes:
      - ${OPS_ROOT:-../../}/srv/observability/loki/config/loki.yml:/etc/loki/config.yml:ro
      - ${OPS_ROOT:-../../}/lib/loki:/loki
    command: ["-config.file=/etc/loki/config.yml"]
    networks: [net_internal]

networks:
  net_internal:
    external: true
    name: net_internal
