services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    volumes:
      - ${OPS_ROOT:-../../../}/lib/teslamate/mosquitto:/mosquitto
    networks: [net_internal]

  teslamate:
    image: teslamate/teslamate:latest
    container_name: teslamate
    restart: unless-stopped
    env_file:
      - ${OPS_ROOT:-../../../}/etc/global.env
      - ${OPS_ROOT:-../../../}/etc/srv/apps.teslamate.env
    networks: [net_internal]
    depends_on:
      - mosquitto
    labels:
      - caddy=${TESLAMATE_HOST}
      - caddy.reverse_proxy=teslamate:4000

networks:
  net_internal:
    external: true
    name: net_internal
