# UniFi 컨트롤러 기본 설정
PUID=1000
PGID=1000
TZ=Asia/Seoul
MEM_LIMIT=2048
MEM_STARTUP=1024
UNIFI_HOST=unifi.home.mstorm.net

# MongoDB 초기화 변수 (MongoDB 공식 이미지가 사용)
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=__REPLACE_ME__
MONGO_INITDB_DATABASE=unifi

# MongoDB 사용자 및 데이터베이스 (초기화 스크립트 및 UniFi 컨트롤러 공통 사용)
MONGO_USER=unifi
MONGO_PASS=__REPLACE_ME__
MONGO_DBNAME=unifi
MONGO_AUTHSOURCE=unifi
