# Grafana admin credentials (optional, defaults to admin/admin)
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=__REPLACE_ME__

# Grafana server settings
GF_SERVER_ROOT_URL=https://grafana.home.mstorm.net
GF_SERVER_DOMAIN=grafana.home.mstorm.net

